.subject {
  color: #0fbd27;
  font-size: 30px;
  text-align: center;
  margin-top: 25px;
}
.title-bar {
  color: dodgerblue;
  font-size: 40px;
  text-align: center;
  line-height: 60px;
  border-bottom: 1px solid dodgerblue;
}

.post-title {
  color: orangered;
}

.img-block {
  background: greenyellow;
}

.title {
  background: sandybrown;
}

.page-header h1 {
  color: dodgerblue;
  font-size: 40px;
}

img.media-object {
  height: 100px;
}

.thumbnail img {
  height: 100px;
}
